<div class="login-box">

<div class="box box-info">
<div class="box box-header">
	<h1 class="box-title">Editando Asiento</h1>
		</div>
<div class="box-body">	
<%= render 'form', asiento: @asiento %>

<%= link_to 'Mostrar', @asiento %> |
<%= link_to 'Atras', asientos_path %>
</div>
</div>
</div>