<div class="box box-primary">
	<div class="container">
<h1>Nuevo Movimiento de Caja</h1>
			<%= render 'form', movimiento_caja: @movimiento_caja %>


<%= render 'form', movimiento_caja: @movimiento_caja %>
					<%= link_to 'Atras', movimientos_cajas_path, :class => "btn btn-block btn-default" %>
			    </div>
			</div>
	</div>
</div>