<%= simple_form_for(@caja) do |f| %>
<div class="login-box">
	<div class="box box-info">
		<div class="box-header">
			<h1 class="box-title">Caja</h1>
		</div>
	<div class="box-body">
	<%= render 'form', caja: @caja %>
		<div class="form-group">
			<div class="col-md-4">
				<%= f.submit "Guardar" , class: "btn btn-success "  %>
			</div>
		</div>
	</div>
</div>
</div>
<% end %>