<div class="login-box">
	<div class="box box-info">
		<div class="box box-header">
			<h1 class="box-title" >Cheque</h1>
		</div>
			<%= render 'form', cheque: @cheque %>

			<%= link_to 'Atras', cheques_path %>
	</div>
</div>
