<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @rango_fecha.descripcion %>
</p>

<%= link_to 'Edit', edit_rango_fecha_path(@rango_fecha) %> |
<%= link_to 'Back', rango_fechas_path %>
