<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <div class="box box-success" >
    <div class="box-header with-border">
      <h3 class="box-title">Pagos de usuario</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" data-original-title="Collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body">
      <form>
        <div class="col-xs-3">
        <label for="user">Usuario:</label>
          <input type="text" class="form-control" id="user" placeholder="Ingrese el nombre de usuario">
        </div>
      </form>
      
    </div>
    <div class="box-footer" align="right" >
      <a href="/informes"><button type="button" class="btn btn-default">Regresar</button></a>
      <input class="btn  btn-success" type="submit" value="Aceptar">
    </div>
  </div>


</body>
</html>