<h1>Editing Ordenes Consumos Detalle</h1>

<%= render 'form', ordenes_consumos_detalle: @ordenes_consumos_detalle %>

<%= link_to 'Show', @ordenes_consumos_detalle %> |
<%= link_to 'Back', ordenes_consumos_detalles_path %>
