<div class="login-box">
	<div class="box box-info">
		<div class="box box-header">
			<h1 class="box-title" >Arqueo de Caja</h1>
		</div>

			<%= render 'form', arqueo_caja: @arqueo_caja %>

			<%= link_to 'Atras', arqueo_cajas_path %>
	</div>
</div>