<%= simple_form_for(@tpersona) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :tipo %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
