<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @cuentas_por_plan.descripcion %>
</p>

<%= link_to 'Edit', edit_cuentas_por_plan_path(@cuentas_por_plan) %> |
<%= link_to 'Back', cuentas_por_planes_path %>
