
<div class="box box-info">
	<div class="container">
		<div clas="box-header">
			<h3 class="box-title", style="padding-top: 10px" >Crear Cuenta Contable</h1>
		</div>
	</div>	
	<div class="box-body">

	<%= render 'form', cuenta: @cuenta %>
 		<div class="col-md-2">
			<div class="form-group">
				<%= link_to 'Atras', cuentas_path , :class => "btn btn-block btn-default  " %>
			</div>
		</div>
	</div>
	
</div>
