<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Buscar..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">CATEGORÍAS</li>
        <!-- Optionally, you can add icons to the links -->
      <li class="treeview"><a href="#"><i class='fa fa-bolt'></i> <span>Servicios</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/medidores">Medidores</a></li>
          <li><a href="/lecturas">Lecturas</a></li> 
        </ul>
      </li>
      <li class="treeview"><a href="#"><i class='fa fa-dollar'></i> <span>Contabilidad</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/plan_de_cuentas">Plan de Cuentas</a></li>
          <li><a href="/ejercicios">Ejercicios</a></li>
          <li><a href="/cuentas">Cuentas</a></li> 
          <li><a href="/asientos">Asientos</a></li>
        </ul>
      </li>
      
      <li class="treeview"><a href="#"><i class='fa fa-money'></i> <span>Facturacion</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/ordenes_de_consumos">Ordenes de consumo</a></li>
          <li><a href="/facturas">Facturas</a></li> 
        </ul>
      </li>
      <li ><a href="/cajas"><i class='fa fa-credit-card'></i> <span>Cajas</span></a></li>
      <li ><a href="/crm/index"><i class='fa fa-search'></i> <span>CRM</span></a></li>
      <li ><a href="/personas"><i class='fa fa-user'></i> <span>Personas</span></a></li>
       <li><a href="/informes"><i class='fa fa-list-alt'></i> <span>Informes</span></a></li>
        <li ><a href="/auditorias"><i class='fa fa-search'></i> <span>Auditoria</span></a></li>
      
    </ul><!-- /.sidebar-menu -->
    </ul>
  </section>

  <!-- /.sidebar -->
</aside>
