<!DOCTYPE html>
<html>
  <head>
    <title>Informes</title>
  </head>
  <body>
    <h1>Informes</h1>
    <div class="row">

      <div class="col-lg-3 col-xs-6">
        <a href="/usuarios_por_zona" > 
          <div class="small-box bg-green"> 
            <div class=" small-box-header">  
              <img  src="https://upload.wikimedia.org/wikipedia/en/thumb/5/56/Google_maps_screenshot.png/300px-Google_maps_screenshot.png"  width="249" height="140" class="img-corners" alt="Mapa" > 
            </div>
            <div class="small-box-footer"> Usuarios por zona <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-xs-6">
        <a href="/tipo_de_servicio" > 
          <div class="small-box bg-green"> 
            <div class=" small-box-header">  
              <img  src="http://www.elheraldo.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=nSMbxUk5gw4wyTgGq_f2x8$daE2N3K4ZzOUsqbU5sYuLFq$YDXEKRD7aHB3RuIenWCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg" width="249" height="140" class="img-corners" alt="Calculadora" > 
            </div>
            <div class="small-box-footer">Tipo de servicio <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-xs-6">
        <a href="/estado_de_conexion" > 
          <div class="small-box bg-green"> 
            <div class=" small-box-header">  
              <img  src="http://cdn0.extra.com.py/wp-content/uploads/2015/03/09-ande.jpg" width="249" height="140" alt="Factura" > 
            </div>
            <div class="small-box-footer"> Estado de conexión <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-xs-6">
        <a href="/consumo_por_rango_de_fechas" > 
          <div class="small-box bg-green"> 
            <div class=" small-box-header">  
              <img  src="http://www.magicadisseny.com/wp-content/uploads/2015/12/calendario.jpg" width="248" height="140" alt="Calendario" > 
            </div>
            <div class="small-box-footer"> Consumo por rango de fechas <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-xs-6">
        <a href="/conexiones_de_usuario" > 
          <div class="small-box bg-green"> 
            <div class=" small-box-header">  
              <img  src="http://familiasalud.com/wp-content/uploads/2016/08/medidor-el%C3%A9ctrico.jpg" width="248" height="140" alt="Medidor electrico" > 
            </div>
            <div class="small-box-footer"> Conexiones de usuarios <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-xs-6">
        <a href="/pagos_de_usuario" > 
          <div class="small-box bg-green"> 
            <div class=" small-box-header">  
              <img  src="http://machineworkshop.com.br/wp-content/uploads/2015/03/pagando_dinero.jpg" width="249" height="140"  alt="Dinero" > 
            </div>
            <div class="small-box-footer"> Pagos de usuario <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-xs-6">
        <a href="/ingreso_por_caja_por_rango_de_fecha" > 
          <div class="small-box bg-green"> 
            <div class=" small-box-header">  
              <img  src="https://cdn1.hendyla.com/archivos/imagenes/2016/06/15/publicacion-grupo-1503112696631497_1915593352050094-0-58a6c746df02a1d785121181c85bca70-234_A.jpg" width="249" height="140"  alt="Caja registradora" > 
            </div>
            <div class="small-box-footer"> Ingreso por caja por rango de fecha <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-xs-6">
        <a href="/usuarios_morosos" > 
          <div class="small-box bg-green"> 
            <div class=" small-box-header">  
              <img  src="http://www.bcsnoticias.mx/wp-content/uploads/2016/01/medidor-agua-potable-sapa-990x660.jpg" width="248" height="140" alt="Medidor de agua" > 
            </div>
            <div class="small-box-footer"> Usuarios Morosos <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-xs-6">
        <a href="/boletas_reimpresas" > 
          <div class="small-box bg-green"> 
            <div class=" small-box-header">  
              <img  src="http://laestrella.com.pa/media/news/image/187066_800x600_crop_56495cf754137.jpg" width="248" height="140"  alt="Impresora" > 
            </div>
            <div class="small-box-footer"> Boletas reimpresas <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-xs-6">
        <a href="/valores_recibidos" > 
          <div class="small-box bg-green"> 
            <div class=" small-box-header">  
              <img  src="https://i.ytimg.com/vi/1Xmr-q61pns/maxresdefault.jpg" width="249" height="141"  alt="Tabla con montos recibidos" > 
            </div>
            <div class="small-box-footer"> Valores recibidos <i class="fa fa-arrow-circle-right"></i></div>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>  
 