<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.12/filtering/row-based/range_dates.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>





 <body>
  <div class="box box-success" >
    <div class="box-header with-border">
      <h3 class="box-title">Valores recibidos</h3>
    </div>
    <div class="box-body">  
     <table class="table table-bordered table-striped datatable">
        <tbody><tr>
            <td>Desde:</td>
            <td><input type="text" id="minrango" name="min"></td>
        </tr>
        <tr>
            <td>Hasta:</td>
            <td><input type="text" id="maxrango" name="max"></td>
        </tr>
    </tbody></table><table id="e1"  class="table table-bordered table-striped datatable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
        <tbody>
         <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>25/04/2016</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>25/07/2011</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>12/01/2009</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>28/11/2013</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>15/03/2014</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>27/02/2016</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>30/08/2015</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>05/10/2016</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>10/03/2014</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>29/03/2016</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>29/05/2015</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>25/04/2016</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>25/07/2011</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>12/01/2009</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>29/03/2015</td>
                <td>$433,060</td>
            </tr>
           
        </tbody>
    </table>
    </div>
    <div class="box-footer" align="right" >
      <a href="/informes"><button type="button" class="btn btn-default">Regresar</button></a>
      <button id="printval" type="button" class="btn btn-success">Imprimir</button>
    
    </div>

</body>
 <script type="text/javascript">
        function printData()
{
   var divToPrint=document.getElementById("e1");
   newWin= window.open("");
   newWin.document.write(divToPrint.outerHTML);
   newWin.print();
   newWin.close();
}

$('#printval').on('click',function(){
printData();
})
      </script>
