<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_persona.tipo %>
</p>

<%= link_to 'Edit', edit_tipo_persona_path(@tipo_persona) %> |
<%= link_to 'Back', tipos_personas_path %>
