<div class="login-box">
	<div class="box box-info">
		<div class="box box-header">
			<h1 class="box-title" >Tarjeta</h1>
		</div>
			<%= render 'form', tarjeta: @tarjeta %>

			<%= link_to 'Atras', tarjetas_path %>
	</div>
</div>