<p id="notice"><%= notice %></p>

<p>
  <strong>Monto parcial:</strong>
  <%= @movimiento_de_cajas_detalle.monto_parcial %>
</p>

<%= link_to 'Edit', edit_movimiento_de_cajas_detalle_path(@movimiento_de_cajas_detalle) %> |
<%= link_to 'Back', movimiento_de_cajas_detalles_path %>
