<div class="box box-info">
	<div class="container">
		<div clas="box-header">
			<h3 class="box-title", style="padding-top: 10px" >Crear Plan de Cuenta</h1>
		</div>
	</div>	
	<div class="box-body">

<%= render 'form', plan_de_cuenta: @plan_de_cuenta %>
		<div class="col-md-2">
			<div class="form-group">
				<%= button_to 'Atras', plan_de_cuentas_path , :class => "btn btn-block btn-info  "%>
			</div>
		
		</div>
	</div>
	
</div>
